<div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5">
  <h2>Homepage</h2>
  <h1>Icons Added!</h1>
  <i class="lni lni-add-file"></i>
  <i class="lni lni-cart"></i>
  <i class="lni lni-calculator"></i>
</div>
