<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Research types
</h2>

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">


  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Research types</h1>
    <%= link_to 'New research type', new_research_type_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="research_types" class="min-w-full">
    <%= render @research_types %>
  </div>
</div>
