<li class="relative px-6 py-3">
    <% if active == true %>
        <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">&nbsp;</span>
    <% end %>
    <%= link_to route_path, class: "inline-flex items-center gap-2 w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 #{'text-gray-800' if active == true}" do %>
    <%= icon "fas", icon_name, class: "w-6" %>
    <span class="ml-4"><%= title %></span>
    <% end %>
</li>
