<%# Main email content starts here %>
<tr>
  <td class="wrapper">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <h2>­Hi there👋,</h2>
          <p>You are envited to join a research team as Coinvestigator.</p> 
          <p>Here is details about the proposal: </p>

          <p>
            Title: <a href="<%= proposal_url(@proposal)%>" target="_blank"><%= @proposal.title %></a><br>
            PI: <%= @proposal.user.full_name %>
          </p>

          <p>A better way to do research!</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
