<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A call to research is posted, <%= @user.email %></h1>
    <p>
      AMU research directorate posted a research call, 
      Title of the research call is: <%= @call.title %>.<br>
    </p>
    <p>
      To see all the posts, just follow this link: <%= @url %>.
    </p>
    <p>A better way to do research!</p>
  </body>
</html>
