<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulation Your email is verified successfully.</h1>
    <p>A better way to do research!</p>
  </body>
</html>
