<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your email is successfully added to RMIS</h1>
    <p>
      Please click the link bellow to activate it, 
      Email activation link: <%= link_to "Verify Email", verify_email_url(@subscriber.subscription_hash) , target: :_blank %>.<br>
    </p>
    <p>A better way to do research!</p>
  </body>
</html>
