<div class="w-full flex">
  <div class="w-full mx-auto">

    <%= render @research_center %>

    <%= link_to "Edit this Research Center", edit_research_center_path(@research_center), class: "mt-2 py-3 px-5 bg-gray-200 text-sm inline-block font-medium" %>
    <%= link_to "Back to Research Center", research_centers_path, class: "ml-2 py-3 px-5 bg-gray-200 text-sm inline-block font-medium" %>

  </div>
</div>
