<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Editing research calls</h2>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">

    <%= render "form", call: @call %>

    <%= link_to "Show this call", @call, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
