<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">New call for research</h2>

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">

  <%= render "form", call: @call %>
</div>

