<div class="footer">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block">
        <span class="apple-link">Arba Minch University, P.O. Box 21, Tel: +251-46881-4986</span>
        <% if @subscribed %>
          <br> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif"><b>Unsubscribe</b></a>.
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="content-block powered-by">
        &#169; <%= Date.today.year %> All Rights Reserved.
      </td>
    </tr>
  </table>
</div>
