<div class="w-full flex">
  <div class="w-full mx-auto">

    <%= render @research_type %>

    <%= link_to 'Edit this research_type', edit_research_type_path(@research_type), class: "mt-2 py-3 px-5 bg-gray-200 text-sm inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this research_type', research_type_path(@research_type), method: :delete, class: "mt-2 py-3 px-5 bg-gray-200 text-sm font-medium" %>
    </div>
    <%= link_to 'Back to research_types', research_types_path, class: "ml-2 py-3 px-5 bg-gray-200 text-sm inline-block font-medium" %>
  </div>
</div>
