
<div class="overflow-hidden">
    <div class="px-4 sm:px-6 md:px-8">
        <div class="max-w-3xl mx-auto pb-28">
            <main>

              <ul class="divide-y divide-gray-200 dark:divide-gray-700">
                <li class="pb-3 sm:pb-4">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                      </div>
                      <div class="flex-1 min-w-0">
                          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Neil Sims
                          </p>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            email@flowbite.com
                          </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                          $320
                      </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="Neil image">
                      </div>
                      <div class="flex-1 min-w-0">
                          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Bonnie Green
                          </p>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            email@flowbite.com
                          </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                          $3467
                      </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-2.jpg" alt="Neil image">
                      </div>
                      <div class="flex-1 min-w-0">
                          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Michael Gough
                          </p>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            email@flowbite.com
                          </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                          $67
                      </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Neil image">
                      </div>
                      <div class="flex-1 min-w-0">
                          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Thomas Lean
                          </p>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            email@flowbite.com
                          </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                          $2367
                      </div>
                    </div>
                </li>
                <li class="pt-3 pb-0 sm:pt-4">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-4.jpg" alt="Neil image">
                      </div>
                      <div class="flex-1 min-w-0">
                          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Lana Byrd
                          </p>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            email@flowbite.com
                          </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                          $367
                      </div>
                    </div>
                </li>
              </ul>

            </main>




            <footer class="mt-16">
                <div class="relative">
                    <img src="/_next/static/media/blog-post-form@80.92cf987c.jpg" alt="" class="absolute top-px sm:left-auto sm:right-0 left-1/4 max-w-none" decoding="async" width="476">
                    <img src="/_next/static/media/blog-post-form-dark@90.5b274bea.jpg" alt="" class="absolute top-px -left-1/4 sm:left-0 hidden max-w-none" decoding="async" width="1429">
                    <section class="relative py-16 border-t border-slate-200">
                        <h2 class="text-xl font-semibold text-slate-900 tracking-tight">Get all of our updates directly to your&nbsp;inbox.<br>Sign up for our newsletter.</h2>
                        <div class="mt-5 max-w-md">
                            <form action="https://app.convertkit.com/forms/3181881/subscriptions" method="post" class="flex flex-wrap -mx-2">
                                <div class="px-2 grow-[9999] basis-64 mt-3">
                                    <div class="group relative">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="w-6 h-full absolute inset-y-0 left-3 text-slate-400 pointer-events-none group-focus-within:text-sky-500"><path d="M5 7.92C5 6.86 5.865 6 6.931 6h10.138C18.135 6 19 6.86 19 7.92v8.16c0 1.06-.865 1.92-1.931 1.92H6.931A1.926 1.926 0 0 1 5 16.08V7.92Z"></path><path d="m6 7 6 5 6-5"></path></svg>
                                        <input type="email" name="email_address" required="" autocomplete="email" aria-label="Email address" class="appearance-none shadow rounded-md ring-1 ring-slate-900/5 leading-5 sm:text-sm border border-transparent py-2 placeholder:text-slate-400 pl-12 pr-3 block w-full text-slate-900 focus:outline-none focus:ring-2 focus:ring-sky-500 bg-white" placeholder="Subscribe via email">
                                    </div>
                                </div>
                                <div class="px-2 grow flex mt-3">
                                    <button type="submit" class="bg-sky-500 flex-auto shadow text-white rounded-md text-sm border-y border-transparent py-2 font-semibold px-3 hover:bg-sky-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-300">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </footer>
        </div>
    </div>
</div>
