
<ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
   <%= @documents.each do |document| %>
   <li class="pb-3 sm:pb-4">
      <div class="flex items-center space-x-4">
         <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
               <%= document.title %>
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
               <%= document.user.email %>
            </p>
         </div>
         <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <%= link_to "Download", document.title, download: true, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
         </div>
      </div>
   </li>
   <% end %>
</ul>
