<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Create Proposal
</h2>

<div
  class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
>
  <%= form_with model: @proposal, url: { action: "create" }, method: :post, local: true do |f| %>
    <label class="block text-sm">
      <span class="text-gray-700 dark:text-gray-400">Name</span>
      <input
        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
        placeholder="Jane Doe"
      />
    </label>

    <div class="mt-4 text-sm">
      <span class="text-gray-700 dark:text-gray-400">
        Account Type
      </span>
      <div class="mt-2">
        <label
          class="inline-flex items-center text-gray-600 dark:text-gray-400"
        >
          <input
            type="radio"
            class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
            name="accountType"
            value="personal"
          />
          <span class="ml-2">Personal</span>
        </label>
        <label
          class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400"
        >
          <input
            type="radio"
            class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
            name="accountType"
            value="busines"
          />
          <span class="ml-2">Business</span>
        </label>
      </div>
    </div>

    <label class="block mt-4 text-sm">
      <span class="text-gray-700 dark:text-gray-400">
        Requested Limit
      </span>
      <select
        class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
      >
        <option>$1,000</option>
        <option>$5,000</option>
        <option>$10,000</option>
        <option>$25,000</option>
      </select>
    </label>

    <label class="block mt-4 text-sm">
      <span class="text-gray-700 dark:text-gray-400">
        Multiselect
      </span>
      <select
        class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
        multiple
      >
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
      </select>
    </label>

    <label class="block mt-4 text-sm">
      <span class="text-gray-700 dark:text-gray-400">Message</span>
      <textarea
        class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
        rows="3"
        placeholder="Enter some long form content."
      ></textarea>
    </label>

    <div class="flex mt-6 text-sm">
      <label class="flex items-center dark:text-gray-400">
        <input
          type="checkbox"
          class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
        />
        <span class="ml-2">
          I agree to the
          <span class="underline">privacy policy</span>
        </span>
      </label>
    </div>
  <% end %>
</div>
