
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  <%= @proposal.title %>
</h2>

<div class="w-full overflow-hidden rounded-lg shadow-xs">

  <div class="w-full px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">

    <details>
      <summary class="text-gray-600 dark:text-gray-400 cursor-pointer">Abstract</summary>
      <div>
        <p class="mb-4 text-gray-600 dark:text-gray-400">
          <%= @proposal.abstract %></p>
      </div>
    </details>

  </div>

</div>