<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing education level</h1>

  <%= render "form", education_level: @education_level %>

  <%= link_to "Show this education level", @education_level, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to education levels", education_levels_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
