<div class="overflow-hidden sm:px-6">

  <div class="max-w-xl mx-6 mt-16 sm:mx-auto">
    <div class="px-6 py-10 text-center border border-gray-200 rounded shadow-lg bg-white">
      <h1 class="pt-4 text-2xl font-display">Successfully subscribed!</h1>
      <p class="mb-6">You will receive emails when a new call for research is posted.</p>
      <p class="text-sm text-gray-600">You can always unsubscribe by clicking unsubscribe link in the emails you receive.</p>
    </div>
  </div>

</div>