<h2 class="my-6 text-2xl font-semibold text-gray-700">Editing research center</h2>

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md">

  <%= render "form", research_center: @research_center %>

  <%= link_to "Show this research type", @research_center, class: "my-2 py-2 px-5 bg-gray-200 text-sm inline-block font-medium" %>
</div>